<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listings</title>
</head>
<body>

    <h1>listings.html</h1>

    <h1>Listings for <span th:text="${country}"></span></h1>

    <a th:href="@{/}" class="button">Back</a>

    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="listing : ${listings}">
                <td th:text="${listing.name}"></td>
                <td th:text="${listing.price}"></td>
                <td><image th:src="${listing.imageUrl}" style="max-width:300px"></image></td>
                <td><a th:href="@{/listing/{id}(id=${listing.id})}" class="button">Details</a></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>